body {
    background-color: #F1FAEE;
}

.calc-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 510px;
    margin: 10% 25%;
    padding: 10px;
    border: 10px solid #043984;
    border-radius: 15px;
}

.operation {
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    width: 506px;
    height: 50px;
    background-color: #20C24E;
}

#previous-input {
    display: none;
    margin: 10px;
}

#current-input {
    margin: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 5px;
}

.button-separator {
    margin: 0px 5px;
}

.digit-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

.digit-buttons > * {
    width: 100px;
    height: 100px;
    font-size: 24px;
    background-color: #A8DADC;
    border-radius: 10px;
}

#button-plusmin {
    background-color: #FFF4A4;
    color: #E63946;
}

#button-decimal {
    font-size: 40px;
}

.operation-buttons {
    display: flex;
    width: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.operation-buttons > * {
    width: 100px;
    height: 33.3%;
    font-size: 40px;
    background-color: #219DEA;
    border-radius: 10px;
}

#button-clear {
    color: #E63946;;
}

button:hover {
    opacity: 0.6;
}