body {
    background-color: lightblue;
}

.calc-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: 25%;
    margin-top: 10%;
    border: 10px solid salmon;
    border-radius: 15px;
}

.operation {
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    width: 500px;
    height: 50px;
    background-color: lightgreen;
}

#current-operation {
    margin: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.digit-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

.digit-buttons > * {
    width: 100px;
    height: 100px;
    font-size: 24px;
    background-color: lightgray;
}

#button-0 {
    justify-self: center;
    width: 300px;
}

.operation-buttons {
    display: flex;
    width: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.operation-buttons > * {
    width: 100px;
    height: 33.3%;
    font-size: 40px;
    background-color: lightskyblue;
}

#button-clear {
    color: orangered;
}